[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.18"
beautifulsoup4 = "*"
pytest-django = "==3.5.1"
celery = "==4.3.0"
pytest = "==3.6.3"
pytest-cov = "==2.5.1"
pytest-mock = "==1.10.0"
redis = "*"
supervisor = "==4.0.3"

[requires]
python_version = "3.6"
